$primary-mint: #A5F8D3;
$primary-grey: #333333;

$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

$background-navy: #18314F;
$background-grey: #F7F8F9;

$supporting-green: #158463;
$supporting-red: #C94515;
$supporting-blue: #A5F0F8;